<div class="container">
    <h4 class="text-center mt-3">History of Searched Cities</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th style="text-align : center">City Name</th>
            <th> <button class="btn btn-danger" [disabled]="!history?.length" (click)="deleteHistory()">Delete All</button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let city of history ">
    
            <td style="text-align : center">{{city}}</td>
            <td><button class="btn btn-danger" (click)="deleteCity(city)">Delete</button></td>
          </tr>
        </tbody>
      </table>
</div>